
$color-sky-dark: #022c5d;
$color-sky-light: #83c1be;
$color-land-dark: #001e2a;
$color-land-light: #02456b;
$color-water-dark: #005c99;
$color-water-light: #c4def3;
$color-moon: #fffbde;
$color-crater: #e1dcbe;

@mixin dim($width, $height: $width) {
  width: #{$width};
  height: #{$height};
}

@mixin pos($top, $left) {
  top: #{$top};
  left: #{$left}
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include dim(100vw, 100vh);

  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #{$color-sky-dark}, #{$color-sky-light});
}

%layout {
  display: block;
  position: absolute;
}

%pseudo {
  @extend %layout;

  content: '';
}

moon,
land,
house,
waterfall {
  @extend %layout;

  &::before,
  &::after {
    @extend %pseudo;
  }
}

moon {
  @include pos(20vh, calc(50vw - 10vmin));

  z-index: -1;  
  background-color: #{$color-moon};
  box-shadow:
    0 0 4vmin 0 #{$color-moon} inset,
    -3vmin -3vmin 0 0 #{mix($color-crater, white, 70)} inset,
    0 0 0 10vmin rgba(white, 0.05),
    0 0 0 20vmin rgba(white, 0.05),
    0 0 0 40vmin rgba(white, 0.05),
    0 0 0 70vmin rgba(white, 0.05);

  &,
  &::before,
  &::after {
    border-radius: 50%;
  }

  &,
  &::before {
    @include dim(20vmin);
  }

  &::before {
    // shine
    z-index: -1;
    box-shadow:
      0 0 0 0.5vmin rgba($color-sky-dark, 0.2),
      0 0 2vmin 2vmin rgba(white, 0.6);
    animation: moon 2s ease-in-out infinite alternate;
  }

  &::after {
    // craters
    @include dim(4vmin);
    box-shadow:
      5vmin 5vmin 0 1vmin #{$color-crater},
      13vmin 13vmin 0 -1vmin #{$color-crater},
      10vmin 7vmin 0 -0.5vmin #{$color-crater},
      9vmin 15vmin 0 -0.5vmin #{$color-crater},
      6vmin 14vmin 0 -1vmin #{$color-crater};
  }
}

waterfall {
  @include dim(24vmin, 38vh);
  @include pos(62vh, calc(50vw - 12vmin));

  background-image: linear-gradient(to bottom, #{$color-water-dark}, #{$color-water-light});
  box-shadow: 0 0.5vmin 0 0 rgba($color-moon, 0.7) inset;

  &,
  &::before {
    border-radius: 4vw 4vw 0 0 / 12vh 12vh 0 0;
  }

  &::before {
    // water falling
    @include dim(100%);
    @include pos(0, 0);

    background: {
      image: radial-gradient(ellipse at top, rgba($color-water-light, 0) 40%, rgba($color-water-light, 0.5) 70%, rgba($color-water-light, 1) 70%, rgba(#c4def3, 0) 70%);
      size: 200% 8vh;
      position: 50% 0;
    }
    animation: waterfall 0.7s linear infinite;
  }

  &::after {
    // splash
    @include dim(6vmin);
    @include pos(calc(38vh - 3vmin), -10vmin);

    border-radius: 50%;
    background-color: transparent;
    box-shadow:
      8vmin 0 0 0 white,
      14vmin 0 0 2vmin white,
      20vmin 0 0 -1vmin white,
      26vmin 0 0 1.5vmin white,
      32vmin 0 0 -0.5vmin white;
    animation: splash 0.6s ease-in-out infinite alternate;
  }
}

land {
  @include dim(60vw, 38vh);
  @include pos(62vh, 20vw);

  border-radius: 8vw 12vw 0 0 / 14vh 18vh 0 0;
  background-color: #{$color-land-dark};
  box-shadow: 0 1vmin 0 0 #{$color-land-light} inset;

  &::before,
  &::after {
    // mountains
    @include dim(20vmin, 18vmin);

    z-index: -1;
    transform: rotate(45deg);
    background-color: #{$color-land-dark};
    border-radius: 4vmin 0;
    box-shadow: 0 1vmin 0 0 #{$color-land-light} inset;
  }

  &::before {
    @include pos(-6vmin, 12vmin);
  }

  &::after {
    @include pos(-8vmin, 22vmin);
  }
}

house {
  @include dim(12vw, 12vh);
  @include pos(50vh, 55vw);

  background-color: #{$color-land-dark};

  &::before {
    // roof
    @include dim(10vw);
    @include pos(-5vw, 0.9vw);

    z-index: -1;
    transform: rotate(45deg);
    background: #{$color-land-dark};
    border-radius: 1vmin;
    box-shadow: 1vmin 0 0 0 #{$color-land-light} inset;
  }

  &::after {
    // window
    @include dim(4vmin);
    @include pos(3vh, calc(50% - 2vmin));

    background-color: #{$color-moon};
    box-shadow:
      0 0 5vmin #{$color-moon},
      0 0 3vmin #{$color-moon} inset;
    background-image:
      linear-gradient(to right, transparent calc(50% - 0.5vmin), #{$color-land-dark} calc(50% - 0.5vmin), #{$color-land-dark} calc(50% + 0.5vmin), transparent calc(50% + 0.5vmin)),
      linear-gradient(to bottom, transparent calc(50% - 0.5vmin), #{$color-land-dark} calc(50% - 0.5vmin), #{$color-land-dark} calc(50% + 0.5vmin), transparent calc(50% + 0.5vmin));
    animation: window 1.2s ease-in-out alternate infinite;
  }
}

@keyframes moon {
  to {
    box-shadow:
      0 0 0 0.5vmin rgba($color-sky-dark, 0.3),
      0 0 7vmin 2vmin white;
  }
}

@keyframes waterfall {
  to {
    background-position: 50% 8vh;
  }
}

@keyframes splash {
  to {
    box-shadow:
      8vmin 0 0 2vmin white,
      14vmin 0 0 0.5vmin white,
      20vmin 0 0 3vmin white,
      26vmin 0 0 0vmin white,
      32vmin 0 0 1vmin white;
  }
}

@keyframes window {
  to {
    box-shadow:
      0 0 2vmin white,
      0 0 3vmin white inset;
  }
}
